.container {
  margin-top: 10px;

}

.purchase-card {
  width: 300px;
  box-shadow: 0 0 16px rgba(51,51,51,0.9);
  padding: 1em;
}

.show-grid {
  padding: 1em;
  text-align: center;
}

.pickupSavings__text {
  text-decoration: underline;
}

.pickupSavings__amount {
  color: red;
  font-weight: 800;
}

.item-details-button:focus {
  outline: none;
}

.price-strike {
  text-decoration-line: line-through;
  color: grey 
}